In [1]:
## dictionary 
person = {
    "first" : "Corey",
    "last" : "Schafer",
    "email" : "CoreyMSchafer@gmail.com"
}

In [2]:
## dictionary list
people = {
    "first" : ["Corey"],
    "last" : ["Schafer"],
    "email" : ["CoreyMSchafer@gmail.com"]
}

In [3]:
## key is columns, values are rows. also is 2 dimanson values
people = {
    "first" : ["Corey",'Jane','John'],
    "last" : ["Schafer",'Doe','Doe'],
    "email" : ["CoreyMSchafer@gmail.com",'JaneDoe@gmail.com','JohnDoe@gamil.com']
}

In [4]:
## 获取email这一列的值
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gamil.com']

In [5]:
import pandas as pd

In [6]:
## 从字典创建dataFrame,会多出一列index，索引，一般会是唯一的，但是也可以不是唯一的。
df = pd.DataFrame(people)

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gamil.com

In [8]:
## dataframe 不仅仅这是一个字典的列表，match more
## 优先使用df['email']，如果用df.email会和属性和方法调用冲突
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gamil.com
Name: email, dtype: object

In [9]:
## series: 一个list，一个一维的数组，也是一行数据的意思
## dataframe: 一个二维的数组，由多个series组成，多列数据组成。
type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gamil.com
Name: email, dtype: object

In [11]:
## 获取多个列
df[['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JohnDoe@gamil.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
## 获取行,索引就变成了列名称，不再是序列号
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [14]:
## 获取多行，指定列
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [15]:
## 获取多行，指定列
df.iloc[[0,1],2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [16]:
## 获取多行，指定列label
df.loc[[0,1],['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe

In [17]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gamil.com

In [18]:
## 把email设置为index索引列 df.set_index('email')
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com         Jane      Doe
JohnDoe@gamil.com         John      Doe

In [19]:
##  df.set_index('email')不会修改原来的dataframe，需要明确设置
df.set_index('email',inplace=True)

In [20]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com         Jane      Doe
JohnDoe@gamil.com         John      Doe

In [21]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gamil.com'], dtype='object', name='email')

In [22]:
## 设置索引后，可以通过索引获取行信息df.loc['CoreyMSchafer@gmail.com']
## 通过索引，和列名获取某个值df.loc['CoreyMSchafer@gmail.com','last']
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

In [23]:
## 索引已经被设置为email了，所以之前使用默认的序列号索引会报错 df.loc[0]
## 所以想继续使用序列号获取行，使用函数 df.iloc[0]
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [24]:
## 重置索引为默认的序列号
df.reset_index(inplace=True)

In [25]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gamil.com   John      Doe

In [ ]:
## python清屏：
## import os 
## os.system("clear")

In [52]:
## filter mask 创建一个过滤条件
## filt = (df['last'] == 'Doe') & (df['first'] == 'John')
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [53]:
## 过滤出数据：df[filt] or df[df['last'] == 'Doe'] or df.loc[filt]
df[filt]

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
2        JohnDoe@gamil.com   John      Doe

In [56]:
## 过滤出数据，df.loc[filt] or 在过滤后的数据中获取某指定列
## -filt: filt取否定
df.loc[-filt,'email']

1    JaneDoe@gmail.com
Name: email, dtype: object